@page "/chuyennganhhep/chitiet/{idChuyenNganh}/{idChuyenNganhHep}"
@using QLDSVFPOLY.BUS.ViewModels.ChuyenNganh
@using QLDSVFPOLY.Blazor.Components;
@using QLDSVFPOLY.Blazor.Repository.Interfaces

<h1>Chuyên Ngành Hẹp???</h1>
<style>
	#dd {
		border: 2px black;
		width: 400px;
		height: 300px;
		margin-left: 50px;
	}
</style>

@if (updateVm == null)
{
	<LoadingIndicator></LoadingIndicator>
}
else
{
	<EditForm Model="@updateVm">
		<div class="w-25" style="float: left; margin-top:30px">
			<img id="dd" /><br />
			<input multiple="" type="file" _bl_2="" style="margin-top:20px;margin-left:50px">
		</div>
		<div class="w-50" style="float:right;margin-top:20px;">
			<div class="row" style="margin-top:15px">
				<div class="col">
					<label>Mã Chuyên Ngành</label>
					<input type="text" class="form-control" @bind="updateVm.Ma">
				</div>
				<div class="col"></div>
			</div>
			<div class="row" style="margin-top:15px">
				<div class="col">
					<label>Tên Ngành</label>
					<input type="text" class="form-control" @bind="updateVm.TenChuyenNganh">
				</div>
				<div class="col"></div>
			</div>
			<div class="row" style="margin-top:15px">
				<div class="col">
					<label>Trạng Thái</label>
					<select class="form-control" @bind="updateVm.TrangThai">
						<option value="1">Hoạt động</option>
						<option value="2">Tạm dừng hoạt động</option>
					</select>
				</div>
				<div class="col"></div>
			</div>
			<div class="row" style="margin-top:15px">
				<div class="col">
					<button type="button" class="btn btn-primary" style="float:left" @onclick="()=>LoadDataUpdate()">KHÔI PHỤC</button>
					<button type="button" class="btn btn-primary" style="float:right" @onclick="()=>UpdateCN(Guid.Parse(idChuyenNganhHep), updateVm)">CHỈNH SỬA</button>
				</div>
				<div class="col"></div>
			</div>
			<div class="row" style="margin-top:15px">
				<div class="col"></div>
				<div class="col"></div>
			</div>
		</div>

	</EditForm>
}
@code {

	[Parameter]
	public string idChuyenNganh { set; get; }

	[Parameter]
	public string idChuyenNganhHep { set; get; }

	//Su dung cho Update
	private ChuyenNganhUpdateVM updateVm;

	//Inject Repo cua ChuyenNganh
	[Inject] private IChuyenNganhRepo chuyenNganhRepo { set; get; }

	//Khai bao ra listChuyenNganh
	private List<ChuyenNganhVM> listChuyenNganhs;

	private ChuyenNganhSearchVM searchVM = new ChuyenNganhSearchVM();


	protected override async Task OnInitializedAsync()
	{
		await LoadDataUpdate();
	}

	private async Task LoadData()
	{
		listChuyenNganhs = await chuyenNganhRepo.GetAllActiveAsync(searchVM);

		var chuyenNganhLon = await chuyenNganhRepo.GetByIdAsync(Guid.Parse(idChuyenNganh));
		Guid idDaoTaoCN = chuyenNganhLon.IdDaoTao;
		listChuyenNganhs = listChuyenNganhs.Where(c => c.IdDaoTao == idDaoTaoCN).ToList();
	}

	private async Task LoadDataUpdate()
	{
		var chuyenNganh = await chuyenNganhRepo.GetByIdAsync(Guid.Parse(idChuyenNganhHep));
		updateVm.Ma = chuyenNganh.Ma;
		updateVm.TenChuyenNganh = chuyenNganh.TenChuyenNganh;
		updateVm.TrangThai = chuyenNganh.TrangThai;
		updateVm.IdChuyenNganh = chuyenNganh.IdChuyenNganh;
	}

	private async Task UpdateCN(Guid idChuyenNganh, ChuyenNganhUpdateVM updateVm)
	{
		await chuyenNganhRepo.UpdateAsync(idChuyenNganh, updateVm);
		await LoadData();

	}

	private async Task Clear()
	{
		updateVm.Ma = "";
		updateVm.TenChuyenNganh = "";
		updateVm.TrangThai = 0;
	}
}
