@inherits LayoutComponentBase



<body style="height: 100vh;"> 
    <MudLayout>
        <MudMainContent style="height: 100vh;">
            @Body
        </MudMainContent>
    </MudLayout>
</body>

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />
<BlazoredToasts />
